region = "ap-southeast-2"
image = "victorskl/panelapp"
db_instance_class = "db.t2.micro"
db_allocated_storage = 5
nginx_cpu = "1024"
nginx_memory = "2048"
nginx_replica = 1
app_cpu = "2048"
app_memory = "8192"
app_replica = 1
worker_cpu = "1024"
worker_memory = "4096"
worker_replica = 1
email_port = 587
email_use_tls = "True"
default_from_email = "PanelApp <panelapp@panelapp.example.com>"
panel_app_email = "panelapp@panelapp.example.com"
django_admin_url = "admin/"
app_domain_name = "panelapp.example.com"
use_cognito = true
create_cert = true
